<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
    <link href="{{ pathto("_static/css/custom_satie_landing.css", True) }}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="_static/favicon.ico"/>
    <script defer data-domain="satienv.xyz" src="https://who.lab148.xyz/js/script.js"></script>
    <title>SATIE</title>
</head>
<body id="landingpage_body">

<div id="content">

<p id="logo"><img src="_static/logo.png" alt="SATIE logo" width="120" /></p>

{{ body }}

</div>


</body>
</html>
